[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
setuptools = "*"
six = "*"

[dev-packages]
isort = "*"
autopep8 = "*"
build = "*"
setuptools = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.10"
